.flex.flex--column
	.flex.flex--mb-med
		h1.section__title.section--white Components
	.flex.flex--mb-large
		.flex.flex--half
			.section__lede.section--white-4 Interact with the collection of components and their corresponding markup and javascript functions.