.flex.flex--column
	.flex.flex--mb-med
		h1.section__title A design system for Figma plugins
	.flex
		.flex.flex--half.flex--column
			.flex.flex--mb-large
				.section__lede An unofficially supported design system that closely mirrors the Figma UI for use in the development of Figma plugins.
			.flex.flex--mb-med
				p.section__content The system is built with HTML, CSS and native Javascript with no dependencies. Simply include the minified JS + CSS inline within your plugin UI or as part of your build process. You can also modify and recompile main.scss to include only the components you need in order to reduce file size.
			.flex.flex--mb-large
				p.section__content Created and maintained by <a href="https://twitter.com/negativespaceca" target="blank">Thomas Lowry</a>
			.flex.flex--start
				a.button.button--secondary.button--margin-right(href="#") View on GitHub
				a.button.button--primary(href="#") Download
		