.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Labels and sections
	.flex.flex--mb-med
		.flex.flex--half.flex--centered.flex--outline.flex--padding.flex--top
			<div class="label">Label</div>
		.flex.flex--half.flex--centered.flex--outline.flex--padding.flex--top
			<div class="section-title">Section</div>
				
	.flex.flex--mb-small
		pre
			code.html
				| &lt;!-- Label --&gt;
				| &lt;div class="label"&gt;Label&lt;/div&gt;
				|
				| &lt;!-- Section --&gt;
				| &lt;div class="section-title"&gt;Section title&lt;/div&gt;