.layer.layer--frame
    a.layer__link(href="#intro")
        .layer__row
            .layer__icon
            .layer__name.layer--top-level Introduction													

.layer.layer--frame
    a.layer__link(href="#components")
        .layer__row
            .layer__chevron
            .layer__icon
            .layer__name.layer--top-level Components
    .layer__nested-layers 
        .layer.layer--component
            a.layer__link(href="#buttons")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Buttons
        .layer.layer--component
            a.layer__link(href="#checkbox-switch")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Checkbox + switch
        .layer.layer--component
            a.layer__link(href="#disclosure")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Disclosure panels
        .layer.layer--component
            a.layer__link(href="#inputs")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Input
        .layer.layer--component
            a.layer__link(href="#icon-input")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Icon input
        .layer.layer--component
            a.layer__link(href="#icons")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Icons	
        .layer.layer--component
            a.layer__link(href="#labels-sections")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Labels + sections
        .layer.layer--component
            a.layer__link(href="#onboarding")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Onboarding tip
        .layer.layer--component
            a.layer__link(href="#select-menu")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Select menu
        .layer.layer--component
            a.layer__link(href="#textarea")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Textarea	
        .layer.layer--component
            a.layer__link(href="#visual-bell")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Visual bell

.layer.layer--frame
    a.layer__link(href="#tokens")
        .layer__row
            .layer__chevron
            .layer__icon
            .layer__name.layer--top-level Tokens
    .layer__nested-layers 
        .layer.layer--frame
            a.layer__link(href="#colors")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Color
        .layer.layer--frame
            a.layer__link(href="#border-radius")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Border radius
        .layer.layer--frame
            a.layer__link(href="#shadows")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Shadows

.layer.layer--frame
    a.layer__link(href="#typography")
        .layer__row
            .layer__chevron
            .layer__icon
            .layer__name.layer--top-level Typography
    .layer__nested-layers 
        .layer.layer--type
            a.layer__link(href="#typography-positive")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Positive
        .layer.layer--type
            a.layer__link(href="#typography-negative")
                .layer__row.layer--nested
                    .layer__icon
                    .layer__name Negative	