.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Inputs
	.flex.flex--mb-med
		.flex.flex--half.flex--outline.flex--padding
			<div class="onboarding-tip">
				<div class="onboarding-tip__icon">
					<div class="icon icon--visible"></div>
				</div>
				<div class="onboarding-tip__msg">Your onboarding tip goes here. This is like the tip shows you how to create local styles.</div>
			</div>
		.flex.flex--half.flex--outline.flex--padding
			<div class="onboarding-tip">
				<div class="onboarding-tip__icon">
					<div class="icon icon--lock"></div>
				</div>
				<div class="onboarding-tip__msg">This component also uses the icon component, simply cange the modifier class to select the icon you wish to use or create your own.</div>
			</div>
	
	.flex
		pre
			code.html
				| &lt;div class="onboarding-tip"&gt;
				|     &lt;div class="onboarding-tip__icon"&gt;
				|         &lt;div class="icon icon--visible"&gt;&lt;/div&gt;
				|     &lt;/div&gt;
				|     &lt;div class="onboarding-tip__msg"&gt;Onboarding tip goes here.&lt;/div&gt;
				| &lt;/div&gt;