.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Select menu
	.flex.flex--mb-med
		.flex.flex--half.flex--column.flex--outline.flex--padding.flex--centered
			<select name="" id="select-menu1" class="select-menu">
				<option value="1" selected="selected">Item 1</option>
				<option value="2" >Item 2</option>
				<option value="3">Item 3</option>
				<option value="4">Item 4</option>
			</select>
			h3.section__eyebrow.section--margin-top Menu with initial selection
		.flex.flex--half.flex--column.flex--outline.flex--padding.flex--centered
			<select name="" id="select-menu2" class="select-menu" required>
				<option value="">Please make a selection</option>
				<option value="1">Item 1</option>
				<option value="2">Item 2</option>
				<option value="3">Item 3</option>
				<option value="4">Item 4</option>
			</select>
			h3.section__eyebrow.section--margin-top Menu with no selection
	.flex.flex--mb-med
		.flex.flex--half.flex--column.flex--outline.flex--padding.flex--centered
			<select name="" id="select-menu3" class="select-menu">
				<optgroup>
					<option value="1" selected="selected">Item 1</option>
					<option value="2">Item 2</option>
				</optgroup>
				<optgroup>
					<option value="3">Item 3</option>
					<option value="4" >Item 4</option>
				</optgroup>
			</select>
			h3.section__eyebrow.section--margin-top Menu with option groups
		.flex.flex--half.flex--column.flex--outline.flex--padding.flex--centered
			<select name="" id="select-menu4" class="select-menu">
				<optgroup label="Group A">
					<option value="1" selected="selected">Item 1</option>
					<option value="2">Item 2</option>
				</optgroup>
				<optgroup label="Group B">
					<option value="3">Item 3</option>
					<option value="4">Item 4</option>
				</optgroup>
			</select>
			h3.section__eyebrow.section--margin-top Menu with labeled option groups

	.flex.flex--mb-small
		pre
			code.html
				| &lt;select name="" id="select-menu1" class="select-menu"&gt;
				|     &lt;option value="1" selected="selected"&gt;Item 1&lt;/option&gt;
				|     &lt;option value="2" &gt;Item 2&lt;/option&gt;
				| &lt;/select&gt;
	.flex
		pre
			code.javascript
				| //initialize javascript
				| selectMenu.init();
				|
				| //settings
				| selectMenu.init({
				|     position: 'positionToSelection' //other options: 'under', 'overlap'
				| });
				|
				| //destroy
				| selectMenu.destroy();