.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Visual bell
		
	.flex.flex--outline.flex--padding.flex--column.flex--centered.flex--mb-small
		<div class="visual-bell">
			<span class="visual-bell__msg">Something was successful</span>
		</div>
		h3.section__eyebrow.section--margin-top Normal / informational
	.flex.flex--outline.flex--padding.flex--column.flex--centered.flex--mb-small
		<div class="visual-bell visual-bell--loading">
			<div class="visual-bell__spinner-container">
				<span class="visual-bell__spinner"></span>
			</div>
			<span class="visual-bell__msg">Saving data...</span>
		</div>
		h3.section__eyebrow.section--margin-top Loading
	.flex.flex--outline.flex--padding.flex--column.flex--centered.flex--mb-small
		<div class="visual-bell visual-bell--error">
			<span class="visual-bell__msg">There was an error</span>
		</div>
		h3.section__eyebrow.section--margin-top Error

				
	.flex.flex--mb-small
		pre
			code.html
				| &lt;!-- Normal / informational --&gt;
				| &lt;div class="visual-bell"&gt;
				|     &lt;span class="visual-bell__msg"&gt;Something was successful&lt;/span&gt;
				| &lt;/div&gt;
				|
				| &lt;!-- Loading --&gt;
				| &lt;div class="visual-bell"&gt;
				|     &lt;div class="visual-bell__spinner-container"&gt;
				|          &lt;span class="visual-bell__spinner"&gt;&lt;/span&gt;
				|     &lt;/div&gt;
				|     &lt;span class="visual-bell__msg"&gt;Saving data...&lt;/span&gt;
				| &lt;/div&gt;
				|
				| &lt;!-- Error --&gt;
				| &lt;div class="visual-bell visual-bell--error"&gt;
				|     &lt;span class="visual-bell__msg"&gt;There was an error&lt;/span&gt;
				| &lt;/div&gt;
				