.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Border radius and shadows
	.flex.flex--mb-med
		h2.section__subhead Border radius
.flex.flex--mb-large
	.flex.flex--third.flex--column.flex--centered.flex--padding.flex--outline
		.border-radius.border-radius--small 2px
		p.section__eyebrow $border-radius-small
	.flex.flex--third.flex--column.flex--centered.flex--padding.flex--outline
		.border-radius.border-radius--med 5px
		p.section__eyebrow $border-radius-med
	.flex.flex--third.flex--column.flex--centered.flex--padding.flex--outline
		.border-radius.border-radius--large 6px
		p.section__eyebrow $border-radius-large
.flex.flex--column
	.flex.flex--mb-med
		h2.section__subhead Shadows
.flex
	.flex.flex--half.flex--column.flex--centered.flex--padding.flex--outline
		.shadow.shadow--floating
		p.section__eyebrow $shadow-floating-window
	.flex.flex--half.flex--column.flex--centered.flex--padding.flex--outline
		.shadow.shadow--hud
		p.section__eyebrow $shadow-hud
