.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Buttons
	.flex.flex--mb-small
		h2.section__subhead Primary
	.flex.flex--mb-large
		.flex.flex--quarter.flex--column.flex--outline.flex--centered.flex--padding
			<button class='button button--primary'>Label</button>
			h3.section__eyebrow.section--margin-top Normal
		.flex.flex--quarter.flex--column.flex--outline.flex--centered.flex--padding
			<button class='button button--primary' disabled>Label</button>
			h3.section__eyebrow.section--margin-top Disabled
		.flex.flex--quarter.flex--column.flex--outline.flex--centered.flex--padding
			<button class='button button--primary-destructive'>Label</button>
			h3.section__eyebrow.section--margin-top Destructive
		.flex.flex--quarter.flex--column.flex--outline.flex--centered.flex--padding
			<button class='button button--primary-destructive' disabled>Label</button>
			h3.section__eyebrow.section--margin-top Disabled
	.flex.flex--mb-small
		h2.section__subhead Secondary
	.flex.flex--mb-med
		.flex.flex--quarter.flex--column.flex--outline.flex--centered.flex--padding
			<button class='button button--secondary'>Label</button>
			h3.section__eyebrow.section--margin-top Normal
		.flex.flex--quarter.flex--column.flex--outline.flex--centered.flex--padding
			<button class='button button--secondary' disabled>Label</button>
			h3.section__eyebrow.section--margin-top Disabled
		.flex.flex--quarter.flex--column.flex--outline.flex--centered.flex--padding
			<button class='button button--secondary-destructive'>Label</button>
			h3.section__eyebrow.section--margin-top Destructive
		.flex.flex--quarter.flex--column.flex--outline.flex--centered.flex--padding
			<button class='button button--secondary-destructive' disabled>Label</button>
			h3.section__eyebrow.section--margin-top Disabled

	.flex
		pre
			code.html
				| &lt;!-- Primary --&gt;
				| &lt;button class='button button--primary'&gt;Label&lt;/button&gt;
				| &lt;button class='button button--primary-destructive'&gt;Label&lt;/button&gt;
				|
				| &lt;!-- Secondary --&gt;
				| &lt;button class='button button--secondary'&gt;Label&lt;/button&gt;
				| &lt;button class='button button--secondary-destructive'&gt;Label&lt;/button&gt;