.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Colors
	.flex.flex--mb-med
		h2.section__subhead Accent
	.flex.flex--mb-large
		.swatch
			.swatch__tile
				.swatch__color.swatch--blue
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-blue

		.swatch
			.swatch__tile
				.swatch__color.swatch--purple
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-pruple

		.swatch
			.swatch__tile
				.swatch__color.swatch--hot-pink
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-hot-pink
		.swatch
			.swatch__tile
				.swatch__color.swatch--green
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-green
		.swatch
			.swatch__tile
				.swatch__color.swatch--red
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-red
		.swatch
			.swatch__tile
				.swatch__color.swatch--yellow
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-yellow

	.flex.flex--mb-large
		.section__divider 

	.flex.flex--mb-med
		h2.section__subhead Foreground
	.flex.flex--mb-large
		.swatch
			.swatch__tile
				.swatch__color.swatch--black
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-black
		.swatch
			.swatch__tile
				.swatch__color.swatch--black-8
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-black-8
		.swatch
			.swatch__tile
				.swatch__color.swatch--black-3
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-black-3
		.swatch
			.swatch__tile.swatch--border
				.swatch__color.swatch--white
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-white
		.swatch
			.swatch__tile.swatch--border
				.swatch__color.swatch--white-8
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-white-8
		.swatch
			.swatch__tile.swatch--border
				.swatch__color.swatch--white-4
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-white-4

	.flex.flex--mb-large
		.section__divider 
		
	.flex.flex--mb-med
		h2.section__subhead Background
	.flex.flex--mb-large
		.swatch
			.swatch__tile.swatch--border
				.swatch__color.swatch--white
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-white
		.swatch
			.swatch__tile
				.swatch__color.swatch--grey
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-grey
		.swatch
			.swatch__tile
				.swatch__color.swatch--silver
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-silver
		.swatch
			.swatch__tile
				.swatch__color.swatch--black
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-black
		.swatch
			.swatch__tile
				.swatch__color.swatch--hud
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-hud
		.swatch
			.swatch__tile
				.swatch__color.swatch--toolbar
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-toolbar

	.flex.flex--mb-large
		.section__divider 
		
	.flex.flex--mb-med
		h2.section__subhead Special
	
	.flex.flex--mb-med
		.swatch
			.swatch__tile
				.swatch__color.swatch--blue-3
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-blue-3
		.swatch
			.swatch__tile
				.swatch__color.swatch--selection-a
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-selection-a
		.swatch
			.swatch__tile
				.swatch__color.swatch--selection-b
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-selection-b

	.flex
		.swatch
			.swatch__tile
				.swatch__color.swatch--black-1
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-black-1
		.swatch
			.swatch__tile
				.swatch__color.swatch--hover-fill
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-hover-fill
		.swatch
			.swatch__tile
				.swatch__color.swatch--purple-4
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-hover-pruple-4
		.swatch
			.swatch__tile.swatch--border
				.swatch__color.swatch--white-2
				.swatch__bg
					.swatch__white
					.swatch__checkers
			.swatch__label $figma-hover-white-2
