.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Icon Input
	.flex.flex--mb-med.flex--outline.flex--padding
				<div class="input-icon">
					<div class="input-icon__icon">
						<div class="icon icon--angle icon--black-3"></div><!--use icon component here-->
					</div>
					<input type="input" class="input-icon__input" value="0&deg;" placeholder="0">
				</div>
	.flex.flex--mb-small
		pre
			code.html
				|&lt;div class="input-icon"&gt;
				|    &lt;div class="input-icon__icon"&gt;
				|      &lt;div class="icon icon--angle icon--black-3"&gt;&lt;/div&gt;
				|      &lt;/div&gt;
				|    &lt;input type="input" class="input-icon__input" value="0&deg;" placeholder="0&deg;"&gt;
				|&lt;/div&gt;
	.flex
		pre
			code.javascript
				| //initialize javascript
				| iconInput.init();