.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Icons
	.flex.flex--mb-med
		p.section__content A collection of icons for use in Figma plugins.

	.flex
		.flex.flex--quarter.flex--outline.flex--column.flex--centered.flex--pv-small.flex--mb-small
			<div class="icon icon--adjust"></div>
			p.section__eyebrow --adjust
		.flex.flex--quarter.flex--outline.flex--column.flex--centered.flex--pv-small.flex--mb-small
			<div class="icon icon--adjust icon--blue"></div>
			p.section__eyebrow --adjust --blue
		.flex.flex--quarter.flex--outline.flex--column.flex--centered.flex--pv-small.flex--mb-small
			<div class="icon icon--adjust icon--black-3"></div>
			p.section__eyebrow --adjust --black-3
		.flex.flex--quarter.flex--outline.flex--column.flex--centered.flex--pv-small.flex--mb-small.flex--dark
			<div class="icon icon--adjust icon--white"></div>
			p.section__eyebrow.section--white --adjust --white
	.flex.flex--mb-med
		.flex.flex--third.flex--outline.flex--column.flex--centered.flex--pv-small.flex--mb-small
			<div class="icon icon--adjust icon--button"></div>
			p.section__eyebrow --adjust --button
		.flex.flex--third.flex--outline.flex--column.flex--centered.flex--pv-small.flex--mb-small
			<div class="icon icon--adjust icon--button icon--selected"></div>
			p.section__eyebrow --adjust --button --selected
		.flex.flex--third.flex--outline.flex--column.flex--centered.flex--pv-small.flex--mb-small
			<div class="icon icon--text">W</div>
			p.section__eyebrow --text
			


	.flex.flex--mb-med
		pre
			code.html
				| &lt;!-- Icon --&gt;
				| &lt;div class="icon icon--adjust"&gt;&lt;/div&gt;
				| &lt;div class="icon icon--adjust icon--blue"&gt;&lt;/div&gt;
				| &lt;div class="icon icon--adjust icon--black-3"&gt;&lt;/div&gt;
				| &lt;div class="icon icon--adjust icon--white"&gt;&lt;/div&gt;
				|
				| &lt;!-- Icon button --&gt;
				| &lt;div class="icon icon--adjust icon--button"&gt;&lt;/div&gt;
				| &lt;div class="icon icon--adjust icon--button icon--selected"&gt;&lt;/div&gt;
				|
				| &lt;!-- Icon button --&gt;
				| &lt;div class="icon icon--text"&gt;W&lt;/div&gt;


	.flex.flex--wrap.flex--scroll.flex--padding
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--adjust"></div>
			p.section__eyebrow --adjust
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--alert"></div>
			p.section__eyebrow --alert
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--align-bottom"></div>
			p.section__eyebrow --align-bottom
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--align-middle"></div>
			p.section__eyebrow --align-middle
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--align-top"></div>
			p.section__eyebrow --align-top
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--angle"></div>
			p.section__eyebrow --angle
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--animated-fill"></div>
			p.section__eyebrow --animated-fill
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--arrow-left-right"></div>
			p.section__eyebrow --arrow-left-right
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--arrow-up-down"></div>
			p.section__eyebrow --arrow-up-down
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--blend-empty"></div>
			p.section__eyebrow --blend-empty
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--blend"></div>
			p.section__eyebrow --blend
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--break"></div>
			p.section__eyebrow --break
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--close"></div>
			p.section__eyebrow --close
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--comment"></div>
			p.section__eyebrow --comment
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--component"></div>
			p.section__eyebrow --component
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--corner-radius"></div>
			p.section__eyebrow --corner-radius
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--corners"></div>
			p.section__eyebrow --corners
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--dist-horiz-spacing"></div>
			p.section__eyebrow --dist-horiz-spacing
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--dist-vert-spacing"></div>
			p.section__eyebrow --dist-vert-spacing
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--draft"></div>
			p.section__eyebrow --draft
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--effects"></div>
			p.section__eyebrow --effects
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--ellipses"></div>
			p.section__eyebrow --ellipses
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--eyedropper"></div>
			p.section__eyebrow --eyedropper
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--frame"></div>
			p.section__eyebrow --frame
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--group"></div>
			p.section__eyebrow --group
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--hidden"></div>
			p.section__eyebrow --hidden
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--hyperlink"></div>
			p.section__eyebrow --hyperlink
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--image"></div>
			p.section__eyebrow --image
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--import"></div>
			p.section__eyebrow --import
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--instance"></div>
			p.section__eyebrow --instance
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--layout-align-bottom"></div>
			p.section__eyebrow --layout-align-bottom
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--layout-align-horiz-cent"></div>
			p.section__eyebrow --layout-align-horiz-cent
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--layout-align-left"></div>
			p.section__eyebrow --layout-align-left
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--layout-align-right"></div>
			p.section__eyebrow --layout-align-right
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--layout-align-top"></div>
			p.section__eyebrow --layout-align-top
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--layout-align-vert-cent"></div>
			p.section__eyebrow --layout-align-vert-cent
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--layout-grid-columns"></div>
			p.section__eyebrow --layout-grid-columns
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--layout-grid-rows"></div>
			p.section__eyebrow --layout-grid-rows
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--layout-grid-uniform"></div>
			p.section__eyebrow --layout-grid-uniform
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--library"></div>
			p.section__eyebrow --library
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--link-broken"></div>
			p.section__eyebrow --link-broken
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--link-connected"></div>
			p.section__eyebrow --link-connected
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--list-detailed"></div>
			p.section__eyebrow --list-detailed
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--list"></div>
			p.section__eyebrow --list
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--lock-unlocked"></div>
			p.section__eyebrow --lock-unlocked
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--lock"></div>
			p.section__eyebrow --lock
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--mask"></div>
			p.section__eyebrow --mask
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--minus"></div>
			p.section__eyebrow --minus
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--node-connect"></div>
			p.section__eyebrow --node-connect
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--play"></div>
			p.section__eyebrow --play
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--plus"></div>
			p.section__eyebrow --plus
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--recent"></div>
			p.section__eyebrow --recent
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--reset-instance"></div>
			p.section__eyebrow --reset-instance
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--resize-to-fit"></div>
			p.section__eyebrow --resize-to-fit
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--resolve-filled"></div>
			p.section__eyebrow --resolve-filled
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--resolve"></div>
			p.section__eyebrow --resolve
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--restore"></div>
			p.section__eyebrow --restore
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--return"></div>
			p.section__eyebrow --return
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--search-large"></div>
			p.section__eyebrow --search-large
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--search"></div>
			p.section__eyebrow --search
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--share"></div>
			p.section__eyebrow --share
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--smiley"></div>
			p.section__eyebrow --smiley
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--star-off"></div>
			p.section__eyebrow --star-off
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--star-on"></div>
			p.section__eyebrow --star-on
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--stroke-weight"></div>
			p.section__eyebrow --stroke-weight
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--styles"></div>
			p.section__eyebrow --styles
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--tidy-up-grid"></div>
			p.section__eyebrow --tidy-up-grid
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--tidy-up-list-horiz"></div>
			p.section__eyebrow --tidy-up-list-horiz
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--tidy-up-list-vert"></div>
			p.section__eyebrow --tidy-up-list-vert
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--timer"></div>
			p.section__eyebrow --timer
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--trash"></div>
			p.section__eyebrow --trash
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--type"></div>
			p.section__eyebrow --type
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--vector-handles"></div>
			p.section__eyebrow --vector-handles
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--visible"></div>
			p.section__eyebrow --visible
		.flex.flex--third-compact.flex--outline.flex--start.flex--mb-small.flex--bg-white
			<div class="icon icon--warning"></div>
			p.section__eyebrow --warning
