.flex.flex--column
	.flex.flex--mb-med
		h1.section__title Textarea
	.flex.flex--mb-med
		.flex.flex--half.flex--outline.flex--padding.flex--column.flex--centered
			<textarea rows="2" class="textarea">Some text inside a textarea</textarea>
			h3.section__eyebrow.section--margin-top Normal
		.flex.flex--half.flex--outline.flex--padding.flex--column.flex--centered
			<textarea rows="2" class="textarea" disabled>Some text inside a disabled textarea</textarea>
			h3.section__eyebrow.section--margin-top Disabled
				
	.flex.flex--mb-small
		pre
			code.html
				| &lt;textarea rows="2" class="textarea"&gt;Some text inside a textarea&lt;/textarea&gt;