.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    width: var(--size-medium);
    height: var(--size-medium);
    font-family: var(--font-stack);
    font-size: var(--font-size-xsmall);
    user-select: none;
    background-position: -2px -1px;

    //rotate the icon in an infinit loop, ex: for a spinner
    &--spin {
        animation: rotating 1.0s linear infinite;
    }
    @keyframes rotating {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    //color modifiers

    //blue
    &--blue {
        filter: invert(54%) sepia(16%) saturate(7499%) hue-rotate(179deg) brightness(98%) contrast(101%);
    }

    &--purple {
        filter: invert(40%) sepia(59%) saturate(4001%) hue-rotate(232deg) brightness(103%) contrast(102%);
    }

    &--purple4 {
        filter: invert(72%) sepia(40%) saturate(660%) hue-rotate(202deg) brightness(103%) contrast(103%);
    }

    &--hot-pink {
        filter: invert(18%) sepia(90%) saturate(3347%) hue-rotate(293deg) brightness(116%) contrast(132%);
    }

    &--green {
        filter: invert(66%) sepia(39%) saturate(5382%) hue-rotate(114deg) brightness(102%) contrast(79%);
    }
    
    &--red {
        filter: invert(43%) sepia(56%) saturate(5632%) hue-rotate(349deg) brightness(97%) contrast(95%);
    }

    &--yellow {
        filter: invert(78%) sepia(86%) saturate(1608%) hue-rotate(1deg) brightness(107%) contrast(104%);
    }

    &--black {
        filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(117deg) brightness(109%) contrast(105%);
    }

    &--black8 {
        filter: invert(0%) sepia(56%) saturate(25%) hue-rotate(137deg) brightness(105%) contrast(60%);
    }

    &--black3 {
        filter: invert(100%) sepia(0%) saturate(698%) hue-rotate(219deg) brightness(66%) contrast(127%);
    }

    &--white {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(269deg) brightness(103%) contrast(104%);
    }

    &--white8 {
        filter: invert(99%) sepia(2%) saturate(5%) hue-rotate(55deg) brightness(104%) contrast(98%);
    }

    &--white4 {
        filter: invert(99%) sepia(2%) saturate(897%) hue-rotate(245deg) brightness(117%) contrast(93%);
    }


    //icons
    &--adjust {
        background-image: svg-load('../icons/adjust.svg');
    }
    &--alert {
        background-image: svg-load('../icons/alert.svg');
    }
    &--angle {
        background-image: svg-load('../icons/angle.svg');
    }
    &--arrow-left-right {
        background-image: svg-load('../icons/arrow-left-right.svg');
    }
    &--up-down {
        background-image: svg-load('../icons/arrow-up-down.svg');
    }
    &--auto-layout-horizontal {
        background-image: svg-load('../icons/auto-layout-horizontal.svg');
    }
    &--auto-layout-vertical {
        background-image: svg-load('../icons/auto-layout-vertical.svg');
    }
    &--back {
        background-image: svg-load('../icons/back.svg');
    }
    &--blend-empty {
        background-image: svg-load('../icons/blend-empty.svg');
    }
    &--blend {
        background-image: svg-load('../icons/blend.svg');
    }
    &--break {
        background-image: svg-load('../icons/break.svg');
    }
    &--caret-down {
        background-image: svg-load('../icons/caret-down.svg');
    }
    &--caret-left {
        background-image: svg-load('../icons/caret-left.svg');
    }
    &--caret-right {
        background-image: svg-load('../icons/caret-right.svg');
    }
    &--caret-up {
        background-image: svg-load('../icons/caret-up.svg');
    }
    &--check {
        background-image: svg-load('../icons/check.svg');
    }
    &--close {
        background-image: svg-load('../icons/close.svg');
    }
    &--component {
        background-image: svg-load('../icons/component.svg');
    }
    &--corner-radius {
        background-image: svg-load('../icons/corner-radius.svg');
    }
    &--corners {
        background-image: svg-load('../icons/corners.svg');
    }
    &--distribute-horizontal-spacing {
        background-image: svg-load('../icons/distribute-horizontal-spacing.svg');
    }
    &--distribute-vertical-spacing {
        background-image: svg-load('../icons/distribute-vertical-spacing.svg');
    }
    &--draft {
        background-image: svg-load('../icons/draft.svg');
    }
    &--effects {
        background-image: svg-load('../icons/effects.svg');
    }
    &--ellipses {
        background-image: svg-load('../icons/ellipses.svg');
    }
    &--eyedropper {
        background-image: svg-load('../icons/eyedropper.svg');
    }
    &--forward {
        background-image: svg-load('../icons/forward.svg');
    }
    &--frame {
        background-image: svg-load('../icons/frame.svg');
    }
    &--group {
        background-image: svg-load('../icons/group.svg');
    }
    &--hidden {
        background-image: svg-load('../icons/hidden.svg');
    }
    &--horizontal-padding {
        background-image: svg-load('../icons/horizontal-padding.svg');
    }
    &--hyperlink {
        background-image: svg-load('../icons/hyperlink.svg');
    }
    &--image {
        background-image: svg-load('../icons/image.svg');
    }
    &--instance {
        background-image: svg-load('../icons/instance.svg');
    }
    &--key {
        background-image: svg-load('../icons/key.svg');
    }
    &--layout-align-bottom {
        background-image: svg-load('../icons/layout-align-bottom.svg');
    }
    &--align-horizontal-centers {
        background-image: svg-load('../icons/layout-align-horizontal-centers.svg');
    }
    &--align-left {
        background-image: svg-load('../icons/layout-align-left.svg');
    }
    &--align-right {
        background-image: svg-load('../icons/layout-align-right.svg');
    }
    &--align-top {
        background-image: svg-load('../icons/layout-align-top.svg');
    }
    &--align-vertical-centers {
        background-image: svg-load('../icons/layout-align-vertical-centers.svg');
    }
    &--layout-grid-columns {
        background-image: svg-load('../icons/layout-grid-columns.svg');
    }
    &--layout-grid-rows {
        background-image: svg-load('../icons/layout-grid-rows.svg');
    }
    &--layout-grid-uniform {
        background-image: svg-load('../icons/layout-grid-uniform.svg');
    }
    &--library {
        background-image: svg-load('../icons/library.svg');
    }
    &--link-broken {
        background-image: svg-load('../icons/link-broken.svg');
    }
    &--link-connected {
        background-image: svg-load('../icons/link-connected.svg');
    }
    &--list-detailed {
        background-image: svg-load('../icons/list-detailed.svg');
    }
    &--list-tile {
        background-image: svg-load('../icons/list-tile.svg');
    }
    &--list {
        background-image: svg-load('../icons/list.svg');
    }
    &--lockOff {
        background-image: svg-load('../icons/lock-off.svg');
    }
    &--lockOn {
        background-image: svg-load('../icons/lock-on.svg');
    }
    &--minus {
        background-image: svg-load('../icons/minus.svg');
    }
    &--play {
        background-image: svg-load('../icons/play.svg');
    }
    &--plus {
        background-image: svg-load('../icons/plus.svg');
    }
    &--random {
        background-image: svg-load('../icons/random.svg');
    }
    &--recent {
        background-image: svg-load('../icons/recent.svg');
    }
    &--resize-to-fit {
        background-image: svg-load('../icons/resize-to-fit.svg');
    }
    &--resolve-filled {
        background-image: svg-load('../icons/resolve-filled.svg');
    }
    &--resolve {
        background-image: svg-load('../icons/resolve.svg');
    }
    &--reverse {
        background-image: svg-load('../icons/reverse.svg');
    }
    &--search-large {
        background-image: svg-load('../icons/search-large.svg');
    }
    &--search {
        background-image: svg-load('../icons/search.svg');
    }
    &--settings {
        background-image: svg-load('../icons/settings.svg');
    }
    &--share {
        background-image: svg-load('../icons/share.svg');
    }
    &--smiley {
        background-image: svg-load('../icons/smiley.svg');
    }
    &--sort-alpha-asc {
        background-image: svg-load('../icons/sort-alpha-asc.svg');
    }
    &--sort-alpha-dsc {
        background-image: svg-load('../icons/sort-alpha-dsc.svg');
    }
    &--sort-top-bottom {
        background-image: svg-load('../icons/sort-top-bottom.svg');
    }
    &--spacing {
        background-image: svg-load('../icons/spacing.svg');
    }
    &--spinner {
        background-image: svg-load('../icons/spinner.svg');
    }
    &--star-off {
        background-image: svg-load('../icons/star-off.svg');
    }
    &--star-on {
        background-image: svg-load('../icons/star-on.svg');
    }
    &--stroke-weight {
        background-image: svg-load('../icons/stroke-weight.svg');
    }
    &--styles {
        background-image: svg-load('../icons/styles.svg');
    }
    &--swap {
        background-image: svg-load('../icons/swap.svg');
    }
    &--theme {
        background-image: svg-load('../icons/theme.svg');
    }
    &--tidy-up-grid {
        background-image: svg-load('../icons/tidy-up-grid.svg');
    }
    &--tidy-up-list-horizontal {
        background-image: svg-load('../icons/tidy-up-list-horizontal.svg');
    }
    &--tidy-up-list-vertical {
        background-image: svg-load('../icons/tidy-up-list-vertical.svg');
    }
    &--timer {
        background-image: svg-load('../icons/timer.svg');
    }
    &--trash {
        background-image: svg-load('../icons/trash.svg');
    }
    &--vertical-padding {
        background-image: svg-load('../icons/vertical-padding.svg');
    }
    &--visible {
        background-image: svg-load('../icons/visible.svg');
    }
    &--warning-large {
        background-image: svg-load('../icons/warning-large.svg');
    }
    &--warning {
        background-image: svg-load('../icons/warning.svg');
    }

}