.onboarding-tip {
    display: flex;
    align-items: top;
    padding: 0 var(--size-xsmall) 0 0;

    .icon {
        margin-right: var(--size-xxsmall);
    }

    &__msg {
        padding: var(--size-xxsmall) 0 var(--size-xxsmall) 0;
        font-size: var(--font-size-xsmall);
        font-weight: var(--font-weight-normal);
        letter-spacing: var( --font-letter-spacing-pos-xsmall);
        line-height: var(--line-height);
        color: var(--black8);
        margin: 0;
    }
}