.textarea {
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-normal);
    letter-spacing: var( --font-letter-spacing-neg-xsmall);
    line-height: var(--line-height);
    position: relative;
    display: flex;
    overflow: visible;
    align-items: center;
    width: 100%;
    min-height: 62px;
    margin: 1px 0 1px 0;
    padding: var(--size-xxsmall) var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxsmall);
    color: var(--black8);
    border: 1px solid var(--black1);
    border-radius: var(--border-radius-small);
    outline: none;
    background-color: var(--white);
    resize: none;
    overflow-y: auto;

    &:hover, &:placeholder-shown:hover {
        color: var(--black8);
        border: 1px solid var(--black1);
        background-image: none;
    }
    &::selection {
        color: var(--black);
        background-color: var(--blue3);
    }
    &::placeholder {
        color: var(--black3);
        border: 1px solid transparent;
    }
    &:focus:placeholder-shown {
        border: 1px solid var(--blue);
        outline: 1px solid var(--blue);
        outline-offset: -2px;
    }
    &:active, &:focus {
        color: var(--black);
        border: 1px solid var(--blue);
        outline: 1px solid var(--blue);
        outline-offset: -2px;
    }
    &:disabled, &:disabled:hover {
        position: relative;
        color: var(--black3);
        border: 1px solid transparent;
    }
    &:disabled:active {
        outline: none;
    }
}