doctype html
html(lang='en')
	head
		title Figma Plugin DS
		//documentation site CSS
		link(href='css/main.css' rel='stylesheet' type='text/css')

		//figma plugin CSS
		link(href='../main.css' rel='stylesheet' type='text/css')

body
	.intersect
	.toolbar
		.toolbar__left
			.toolbar__menu
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M27 25H13V26H27V25ZM27 20H13V21H27V20ZM27 15H13V16H27V15Z" fill="white"/>
				</svg>
				
			.toolbar__button.toolbar__button--move.toolbar__button--active
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M14.6656 12.4799L15.6454 13.0721L26.8717 19.8586L27.8715 20.463L26.744 20.769L21.5248 22.1855L18.4864 26.776L17.8227 27.7786L17.5797 26.6011L14.897 13.6011L14.6656 12.4799ZM16.1078 14.5202L18.3161 25.2214L20.7949 21.4764L20.899 21.3192L21.0809 21.2698L25.3545 20.1099L16.1078 14.5202Z" fill="white"/>
				</svg>

			.toolbar__button.toolbar__button--pen
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.1219 15.6407L21.1104 15.6374L14.4437 13.7366L19.3533 18.6462C19.5491 18.5525 19.7684 18.5 20 18.5C20.8284 18.5 21.5 19.1716 21.5 20C21.5 20.8284 20.8284 21.5 20 21.5C19.1716 21.5 18.5 20.8284 18.5 20C18.5 19.7684 18.5525 19.5491 18.6462 19.3533L13.7425 14.4496L15.5745 20.8403L15.585 20.8768L15.5927 20.914C16.0146 22.9612 17.8287 24.5 20 24.5C20.4945 24.5 20.9685 24.4206 21.411 24.2746L21.9959 24.0817L22.4314 24.5172L24.2782 26.364L26.3995 24.2426L24.5346 22.3777L24.1041 21.9472L24.2888 21.3672C24.4257 20.9373 24.5 20.4783 24.5 20C24.5 17.9074 23.0707 16.1461 21.1335 15.6437L21.1219 15.6407ZM27.1066 23.5355L27.8137 24.2426L27.1066 24.9497L24.9853 27.0711L24.2782 27.7782L23.5711 27.0711L21.7243 25.2243C21.1819 25.4032 20.6023 25.5 20 25.5C17.3448 25.5 15.129 23.6184 14.6133 21.1159L12.3246 13.1324L12 12L13.1329 12.323L21.3846 14.6758C23.7519 15.2896 25.5 17.4407 25.5 20C25.5 20.5825 25.4095 21.1438 25.2417 21.6706L27.1066 23.5355Z" fill="white"/>
				</svg>

		.toolbar__title
			.toolbar__site Figma Plugin UI
			.toolbar__divider
				<svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M4.03174 19.8245L10.0317 3.82446L10.9681 4.17559L4.96807 20.1756L4.03174 19.8245Z" fill="white" fill-opacity="0.4"/>
				</svg>
			.toolbar__page {{ pageName }}

		.toolbar__right
			.avatar T
			.zoom 100%

	.layers-panel
			.layers-panel__header
			.layers-panel__list
				include ../_inc/_layers

	.layout
		.page-container
			a(name="intro")
			.section
				.section__frame.section__frame--intro
					include ../_inc/_intro

			a(name="components")
			.section
				.section__frame.section--section-header.section__frame--components
					include ../_inc/_components
			
			a(name="buttons")
			.section.section--component
				.section__frame
					include ../_inc/_buttons
				
			a(name="checkbox-switch")
			.section.section--component
				.section__frame
					include ../_inc/_checkbox-switch

			a(name="disclosure")
			.section.section--component
				.section__frame
					include ../_inc/_disclosure
			
			a(name="inputs")
			.section.section--component
				.section__frame
					include ../_inc/_inputs

			a(name="icon-input")
			.section.section--component
				.section__frame
					include ../_inc/_icon-input
			
			a(name="icons")
			.section.section--component
				.section__frame
					include ../_inc/_icons
			
			a(name="labels-sections")
			.section.section--component
				.section__frame
					include ../_inc/_label-section
			
			a(name="onboarding")
			.section.section--component
				.section__frame
					include ../_inc/_onboarding-tip
			
			a(name="select-menu")
			.section.section--component
				.section__frame
					include ../_inc/_select-menu
			
			a(name="textarea")
			.section.section--component
				.section__frame
					include ../_inc/_textarea
			
			a(name="visual-bell")
			.section.section--component
				.section__frame
					include ../_inc/_visual-bell

			a(name="tokens")
			.section
				.section__frame.section--section-header.section__frame--tokens
					include ../_inc/_tokens
			
			a(name="colors")
			.section
				.section__frame 
					include ../_inc/_colors
			
			a(name="border-shadows")
			.section
				.section__frame
					include ../_inc/_border-shadow

			a(name="typography")
			.section
				.section__frame
					include ../_inc/_typography

	//javascript
	script(src='js/intersection-observer.js')
	script(src='js/highlight.pack.js')
	script(src='js/main.js' type='module')
	script(src='../scripts.min.js')
	<script>iconInput.init(),disclosure.init(),selectMenu.init({position: 'positionToSelection'})</script>