.layer {
	display: flex;
	flex-direction: column;

	cursor: default;
	user-select: none;

	&__link {
		display: block;

		text-decoration: none;

		cursor: default;
	}

	&__row {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row;
		height: 32px;

		border: 1px solid transparent;

		&:hover {
			border: 1px solid $figma-blue;
		}
	}

	&__name {
		@include font-ui-pos('small','normal');

		color: $figma-black-8;

		font-feature-settings: 'ss02' 1;

		&--top-level {
			font-weight: 600;
		}
	}

	&__chevron {
		position: absolute;
		top: 8px;
		left: 0;
		display: block;
		width: 16px;
		height: 16px;

		opacity: 0;
		background-image: url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m11%208-4-3v6z%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.3%22%2F%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat;
		background-position: center center;

		&--down {
			background-image: url('data: image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m9%2010%203-4h-6z%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.3%22%2F%3E%3C%2Fsvg%3E');
		}
	}

	&__icon {
		width: 16px;
		height: 16px;
		margin: 0 8px 0 16px;

		opacity: 0.3;
		background-repeat: no-repeat;
		background-position: center center;
	}

	// Types
	&--frame & {
		&__icon {
			background-image: url('../img/frame.svg');
		}
	}

	&--component & {
		color: $figma-purple;
		&__row {
			&:hover {
				border: 1px solid $figma-purple;
			}
		}
		&__icon {
			background-image: url('../img/component.svg');
		}
	}

	&--type & {
		&__icon {
			background-image: url('../img/type.svg');
		}
	}


	//selected state
	&--selected & {
		&__icon {
			opacity: 1.0;
		}
	}

	&--nested {
		padding-left: 24px;
	}

	&--nested-hidden {
		display: none;
	}

	&--selected {
		background-color: $figma-selection-a;
	}

	&--selected-nested {
		background-color: $figma-selection-b;
	}

	&--top-level {
		font-weight: 600;
	}

	&__nested-layers {
		width: 100%;
	}
}
