.zoom {
	display: flex;
	align-items: center;

	height: 32px;

	color: $figma-white-4;

	@include font-ui-neg('small','normal');

	&:after {
		display: block;

		width: 8px;
		height: 32px;
		margin-left: 6px;

		content: ' ';

		background-image: url('data:image/svg+xml,%3Csvg width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath opacity="0.7" fill-rule="evenodd" clip-rule="evenodd" d="M0 0.707107L0.707107 0L3.35355 2.64645L6 0L6.70711 0.707107L3.35355 4.06066L0 0.707107Z" fill="white" fill-opacity="0.8"/%3E%3C/svg%3E%0A');
		background-repeat: no-repeat;
		background-position: center center;
	}
}
