.avatar {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;
	margin-right: 20px;

	color: $figma-white;
	border-radius: 12px;
	background-color: $figma-green;

	@include font-ui-neg('small','normal');
}
