.section {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
	margin: 0;
	padding: 120px 0 120px 0;

	&__frame {
		position: relative;

		width: 640px;
		min-height: 300px;
		padding: 24px;

		border: 1px solid transparent;
		background-color: $figma-white;

		@media only screen and (max-width: 902px) {
			width: 90%;
		}

		&:before {
			position: absolute;
			top: -16px;
			left: -1px;

			display: block;

			content: attr(data-content);

			color: $figma-black-3;

			@include font-ui-pos('small', 'normal');

			&::first-letter {
				text-transform: uppercase;
			}
		}

		&--selected {
			border: 1px solid $figma-blue;

			&:before {
				color: $figma-blue;
			}

			.section__top {
				opacity: 1;
			}

			.section__bottom {
				opacity: 1.0;
			}
		}

		&--intro {
			background-image: url('../img/bg-pen.svg');
			background-repeat: no-repeat;
			background-position: right -2px bottom 72px;
		}

		&--components {
			background-image: url('../img/bg-component.svg');
			background-repeat: no-repeat;
			background-position: right -2px bottom 20px;
		}

		&--tokens {
			background-image: url('../img/bg-tokens.svg');
			background-repeat: no-repeat;
			background-position: right -2px bottom 20px;
		}
	}

	&__top {
		position: absolute;
		top: -4px;
		left: -4px;

		display: block;

		width: calc(100% + 8px);
		height: 8px;

		content: ' ';

		opacity: 0;
		background-image: url('../img/corner.svg'), url('../img/corner.svg');
		background-repeat: no-repeat;
		background-position: left top, right top;
	}
	&__bottom {
		position: absolute;
		bottom: -4px;
		left: -4px;

		display: block;

		width: calc(100% + 8px);
		height: 8px;

		content: ' ';

		opacity: 0;
		background-image: url('../img/corner.svg'), url('../img/corner.svg');
		background-repeat: no-repeat;
		background-position: left top, right top;
	}


	&__title {
		margin: 0 0 8px 0;
		padding: 0;

		font-family: Inter, sans-serif;
		font-size: 24px;
		font-weight: 600;

		color: $figma-black;

		&--inverse {
			color: $figma-white;
		}
	}

	&__subhead {
		margin: 0;
		padding: 0;

		font-family: Inter, sans-serif;
		font-size: 14px;
		font-weight: 400;

		color: $figma-black-8;
	}

	&__lede {
		margin: 0;
		padding: 0;

		font-family: Inter, sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;

		color: $figma-black-3;
	}

	&__content {
		margin: 0;
		padding: 0;

		color: $figma-black-8;

		@include font-ui-pos('medium','normal');

		&--code {
			font-family: 'Roboto-mono', monospace;
		}

		a {
			padding-bottom: 1px;

			text-decoration: none;

			color: $figma-blue;

			&:hover {
				color: darken($figma-blue, 15%);
			}
		}
	}

	&__eyebrow {
		margin: 8px 0 0 0;
		padding: 0;

		color: $figma-black-3;

		@include font-ui-pos('small','normal');
	}

	&__divider {
		width: 100%;
		height: 1px;

		background-color: $figma-silver;
	}

	&--section-header {
		background-color: $figma-hud;
	}

	&--white {
		color: $figma-white;
	}

	&--white-4 {
		color: $figma-white-4;
	}

	&--component &__bottom, &--component &__top {
		background-image: url('../img/corner-component.svg'), url('../img/corner-component.svg');
	}

	&--component &__frame--selected:before {
		color: $figma-purple;
	}

	&--component &__frame--selected {
		border-color: $figma-purple;
	}

	&--margin-top {
		margin-top: 16px;
	}
}
