.swatch {
	flex: 1 1 0;
	flex-direction: column;
	margin-right: 8px;

	&__tile {
		position: relative;
		height: 24px;
		margin-bottom: 8px;
	}

	&__color {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__bg {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
	}

	&__white {
		width: 50%;
		height: 100%;

		background-color: none;
	}

	&__checkers {
		width: 50%;
		height: 100%;

		background-image: url('../img/checkers.png');
		background-repeat: no-repeat;
	}

	&__label {
		font-family: 'Roboto Mono', monospace;
		font-size: 9px;
		font-weight: 400;

		cursor: text;

		color: $figma-black-8;
	}

	&--border {
		border: 1px solid $figma-black-1;
	}

	//ACCENT
	&--blue {
		background-color: $figma-blue;
	}
	&--purple {
		background-color: $figma-purple;
	}
	&--hot-pink {
		background-color: $figma-hot-pink;
	}
	&--green {
		background-color: $figma-green;
	}
	&--red {
		background-color: $figma-red;
	}
	&--yellow {
		background-color: $figma-yellow;
	}

	//FOREGROUND
	&--black {
		background-color: $figma-black;
	}
	&--black-8 {
		background-color: $figma-black-8;
	}
	&--black-3 {
		background-color: $figma-black-3;
	}
	&--white {
		background-color: $figma-white;
	}
	&--white-8 {
		background-color: $figma-white-8;
	}
	&--white-4 {
		background-color: $figma-white-4;
	}

	//Background
	&--grey {
		background-color: $figma-grey;
	}
	&--silver {
		background-color: $figma-silver;
	}
	&--hud {
		background-color: $figma-hud;
	}
	&--toolbar {
		background-color: $figma-toolbar;
	}

	//Special
	&--blue-3 {
		background-color: $figma-blue-3;
	}
	&--selection-a {
		background-color: $figma-selection-a;
	}
	&--selection-b {
		background-color: $figma-selection-b;
	}
	&--black-1 {
		background-color: $figma-black-1;
	}
	&--hover-fill {
		background-color: $figma-hover-fill;
	}
	&--purple-4 {
		background-color: $figma-purple-4;
	}
	&--white-2 {
		background-color: $figma-white-2;
	}
}
