.toolbar {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	height: 40px;

	background-color: $figma-toolbar;

	&__left {
		display: flex;
	}

	&__menu {
		width: 40px;
		height: 40px;

		background-repeat: no-repeat;
		background-position: center center;
	}

	&__button {
		width: 40px;
		height: 40px;

		background-repeat: no-repeat;
		background-position: center center;

		svg {
			opacity: .8;
		}

		&:hover {
			background-color: $figma-black;

			svg {
				opacity: 1.0;
			}
		}

		&:active, &:focus {
			background-color: $figma-blue;
		}

		&--active {
			background-color: $figma-blue;

			&:hover {
				background-color: $figma-blue;
			}

			svg {
				opacity: 1.0;
			}
		}
	}

	&__title {
		display: flex;
		flex-direction: row;
	}

	&__site {
		display: block;

		color: $figma-white;

		@include font-ui-neg('xlarge','normal');
	}

	&__divider {
		display: inline-block;

		width: 16px;
		height: 24px;
	}


	&__page {
		display: block;

		color: $figma-white-4;

		@include font-ui-neg('xlarge','normal');
	}

	&__right {
		display: flex;
		align-items: center;

		padding-right: 8px;
	}
}
