.label {
	display: flex;
	align-items: center;

	height: 32px;
	padding: 8px 4px 8px 8px;

	cursor: default;

	color: $figma-black-3;
	background-color: $figma-white;

	@include font-ui-pos('small', 'normal');
}
