.onboarding-tip {
	display: flex;
	align-items: top;
	flex-direction: row;

	padding: 0 16px 0 0;

	cursor: default;

	&__icon {
		width: 32px;
		height: 32px;
		margin-right: 8px;
	}

	&__msg {
		padding: 8px 0 8px 0;

		color: $figma-black-8;

		@include font-ui-pos('small', 'normal');

		a:link, a:hover, a:active, a:visited {
			text-decoration: none;

			color: $figma-blue;
		}
	}


	&--hidden {
		display: none;
	}

	&--light {
		color: $figma-black-3;
	}

	&--pt5 {
		padding-top: 8px;
	}
}
